#body {
  min-height: 100vh;
  position: relative;
  background: linear-gradient(rgb(255, 255, 255), rgb(200, 200, 200));
}

.navbar {
  background-color: rgb(5, 24, 36);
}

.heading {
  color: rgb(208,75,75);
  text-shadow: 1px 1px 1px rgba(5,24,36,255);
}

#content{
  padding-bottom: 70px;
}

#logo {
  height: 80px;
  border-radius: 5px;
  transition: transform 0.3s;
}

#logo:hover {
  transform: scale(1.1);
}

div h3 {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}

h1{
  text-align: center;
}

#products {
  padding-bottom: 50px;
  padding-left: 5em;
  padding-right: 5em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
  margin-bottom: 30px;
}

#discountProducts {
  padding-bottom: 50px;
  padding-left: 5em;
  padding-right: 5em;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 30px;
}

#order{
  min-width: fit-content;
  width: 40vw;
  padding: 20px;
  padding-bottom: 150px;
}

#category {
  max-width: 100%;
  padding-bottom: 100px
}

.card {
  padding: 8px;
  margin: 8px;
}

.card-title {
  padding-bottom: 10px;
}

.card-img-top {
  min-height: 150px;
  height: 150px;
  width: auto;
  object-fit: contain;
  
}

.card-body {
  padding-bottom: 20px;
  padding-top: auto;
}

.nav-item a {
  text-decoration: none;
}

#shoppingCart {
  padding: 10px;
  padding-top: 18px;
}

#cartLabel {
  padding-right: 10px;
  vertical-align: text-bottom;
}

#cartLength {
  margin-left:3px;
}

.shoppingcartIcon {
  height: 25px;
  width: 25px;
}

.bi {
  color: rgb(208,75,75);
}

.fa {
  color: rgb(208,75,75);
}

.shoppingcartIcon:hover {
  animation: pulse 1s infinite;
  animation-timing-function: linear; 
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1)};
  100% { transform: scale(1); }
  }

#cartLabel {
  color:white;
}

#clientInfo{
  margin-bottom: 30px;
}

#link {
  color: white;
}
#navbarScrollingDropdown {
  color: white;
}
.navbar-light .navbar-nav .nav-link {
  color: white !important;
}

#manage {
  margin-bottom: 100px;
}

footer {
  
  color: white;
  position: absolute;
  bottom: 0;
  background: linear-gradient(rgb(5, 24, 36), rgba(5, 24, 36, 0.8));
  padding: 50px;
  margin-top: auto;
  margin-bottom: 0px !important;
  left:0px;
  width: 100%;
}

.footer-container {
  bottom: 0;
  padding-top: 50px;
}

form button {
  color: white;
}

.card-text {
  overflow-y: hidden;
}

#addToCart {
  float: right;
  background-color: rgb(208,75,75);
  border: solid 1px rgb(5,24,36);
}

#cardBottom {
  width: 85%;
  position: absolute;
  bottom: 5px;
}

#hinta{
  font-weight: bold;
  color: red;
}

#vanhaHinta{
  text-decoration: line-through;
  padding: 5px;
  color: grey;
}



.icon-style {
  color: white !important;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

@media screen and (max-width: 1233px){

  #discountProducts {
    padding-bottom: 50px;
    padding-left: 5em;
    padding-right: 5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

}

@media screen and (max-width: 670px){

  #content{
    align-content: space-around;
  }

  .desc {
    display: none;
  }

  form {
    margin-bottom: 50px;
  }

  footer {
    padding-left: 10px;
    margin-top: 50px;
  }

}
