body {
  height: 100vh;
  margin-bottom: 20px;
}
.logo {
  height: 80px;
  border-radius: 5px;
  transition: transform 0.3s;
}

.logo:hover {
  transform: scale(1.1);
}

.me-auto_my-2_my-lg-0 {
  color: white;
}
div h3 {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}
#cards {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}


#link {
  color: white;
}
#navbarScrollingDropdown {
  color: white;
}

footer{
  color: white;
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  background-color: rgb(41, 43, 44);
  padding: 20px;
  margin-top: 20px;
}

form button {
  color: white;
}

/*.d-flex {
  position: relative;
  padding-left: 60%;
  margin: 0px;
}*/

